.center2{
    border-style: solid;
    position: relative;
    height: 520px;
    width: 420px;
    left: 26%;
    top: 50%;
    margin: 20px 50px 25px 100px;
  }
  
  .center{
    border-style: dashed;
    position: absolute;
    width: 99%;
    bottom: 5px;
    height: 105px;
  }

  .center3{
    text-align: center;
  }

  .imgcss {
    height: 400px;
    width: 415px;
    left: 5px;
  }

  .avatarcss {
    height: 100px;
    width: 100px;
  }

  .buttoncssx {
    height: 35px;
    width: 160px;
    left: 220px;
    top: 10px;
  }

  .buttoncssb {
    height: 35px;
    width: 160px;
    left: 220px;
    top: 30px;
  }